.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('mediumBackground.jpg');
  font-family: 'StalinistOne';
}
/* .card is adding the glow effect to cards */
.card::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -1;
  border-radius: 10px;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -2;
  filter: blur(10px);
}

.navbar {
  background-color: black;
  padding: 20px;
}

.navbar-toggler {
  background-color: white;
  border-color: green;
}

.navbar-brand {
  color: white;
  font-size: 50px;
  text-shadow: 10px 0 10px green;
}

.navbar-brand:hover {
  color: white;
  font-size: 50px;
  text-shadow: 10px 0 10px white;
  transition: ease-in .2s;
}

.nav-link {
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: white;
}
/* modal for login */
.nav-pills .nav-link {
  color: black;
}

.nav-pills .nav-link.active {
  color: black;
  background-color: white;
}
/* modal login end */
/* adding the underline effect to the navlinks */
.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(14, 240, 14);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav:hover {
  --bs-nav-link-hover-color: white;
  color: white;
}

.navbar-nav .nav-link.active {
  color: white;
}

.searchResults {
  background-color: black;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px green;
}

.bg-dark {
  background-color: black !important;
}